/* 公共样式 */
.bor_r {
	border-radius: 20rpx;
}

.dis_f {
	display: flex;
}

.rltw {
	position: relative;
}

.abslt {
	position: absolute;
}

.pd30 {
	padding: 0 30rpx;
}

.jscb {
	justify-content: space-between;
}

.flex_c {
	flex-direction: column;
}

.leftimg {
	width: 40rpx;
	height: 40rpx;
}

.rightimg {
	width: 30rpx;
	height: 30rpx;
	margin-right: 10rpx;
}

.go_img {
	margin-left: 20rpx;
	width: 10rpx;
	height: 17rpx;
}

.alitmc{
	align-items: center;
}

.jscc{
	justify-content: center;
}

.bor_y{
		border-radius: 50rpx;
}

.noborder{
	border: none !important;
}

.m20{
	margin: 20rpx 0 !important;
}

.mt20{
	margin-top: 20rpx !important;
}

.mb20{
	margin-bottom: 20rpx !important;
}

.ml20{
	margin-left: 20rpx !important;
}

.mr20{
	margin-right: 20rpx !important;
}

.pt20{
	padding-top: 20rpx !important;
}

.pl20{
	padding-left: 20rpx !important;
}

.pr20{
	padding-right: 20rpx !important;
}

.pb20{
	padding-bottom: 20rpx !important;
}

.posir{
	position: relative;
}
.posia{
	position: absolute;
}
.posif{
	position: fixed;
}

.white{
	color: white !important;
}
.flexw{
	flex-wrap: wrap;
}